:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(./imgs/neon4.jpg);
}
header {
  top: 0;
  padding-top: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.pageTitle {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 1rem;
  font-size: 17px;
  color: #ffd8d8;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 2vw 0vw 2vw #f25757,
    0.4vw 0vw 0.2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 0vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}
h3 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  color: white;
  font-size: medium;
}
.navBar {
  visibility: hidden;
}
li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 6px;
}
.overview {
  padding-left: 15rem;
  padding-right: 15rem;
}

p {
  display: flex;
  justify-content: center;
}

article {
  width: 500px;
}

section {
  padding-top: 8rem;
  display: flex;
  flex-wrap: wrap;
}

ul {
  padding-right: 40px;
  color: white;
}

img {
  width: 65%;
  height: auto;
}
.poster {
  display: flex;
  justify-content: center;
}

@media all and (min-width: 687px) {
  h1 {
    font-size: xx-large;
  }
}
@media all and (min-width: 1500px) {
  .pageTitle {
    display: flex;
    justify-content: center;
  }

  h3 {
    visibility: hidden;
  }

  h1 {
    font-size: 4rem;
  }

  article {
    padding-top: 4rem;
  }
  section {
    justify-content: center;
    padding-top: 11rem;
  }

  .navBar {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    color: white;
    font-size: xx-large;
  }
}
